{% extends "default.html" %}

{% block body %}

<!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple" id="wid-id-0" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Text to Speech</strong> <i>Multiroom test</i> </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <h2 class="alert alert-success"> Make any widget full screen</h2>


                            <textarea class="form-control no-border" placeholder="Textarea" rows="4"> This is a textarea - below me is widget footer and above is the widget toolbar!</textarea>
                            <div class="widget-footer">

                                <button class="btn btn-sm btn-primary" type="button">
                                    Save
                                </button>

                                <button class="btn btn-sm btn-danger disabled pull-left" type="button">
                                    Delete
                                </button>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>

            <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-1" data-widget-colorbutton="false" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Text to Speech</strong> <i>Multiroom test</i> </h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body no-padding">
                            <h2 class="alert alert-info" id="tts_test_result"></h2>


                            <textarea class="form-control no-border" placeholder="Enter Text To Speech" rows="4" id="tts_test_text"></textarea>
                            <div class="widget-footer">

                                <button class="btn btn-sm btn-primary" type="button" id="tts_test_publish_btn">
                                    Publish
                                </button>

                                <button class="btn btn-sm btn-danger pull-left" type="button" id="tts_test_clear_btn">
                                    Clear
                                </button>

                            </div>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
        </div>
    </section>
{% endblock %}

{% block javascript_include %}

{% endblock %}

{% block javascript_footer %}

$("#tts_test_publish_btn").click(function() {
    var tts_text = $("#tts_test_text").val();
    if (tts_text.length < 1) {
        return;
    }
    console.log(tts_text);
    emit_on_bus("request.audio.tts", {"tts": tts_text});
});

$("#tts_test_clear_btn").click(function() {
    $("#tts_test_text").val("");
});

socketio.on('raw_message', function(data) {
    console.log(data);
    t.row.add( [ data.date, data.origin, data.topic, JSON.stringify(data.data) ] ).draw( false );
})


emit_on_bus

{% endblock %}