{% extends "default.html" %}

{% block css_header %}
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/colorPicker.css">
{% endblock %}

{% block body %}

<!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-0"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Lumière du Salon</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center" id="lumiere_salon">
							        <img class="image" src="/static/img/domotic/Ampoule_OFF.png" alt="">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-labeled btn-danger" onclick="jeedom_command('Salon::Lumière::Off')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>Off
                                        </button>

                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="value">%</span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 100);">100%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 90);">90%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 80);">80%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 70);">70%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 60);">60%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 50);">50%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 40);">40%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 30);">30%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 20);">20%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 10);">10%</a></li>
                                            <li><a href="javascript:jeedom_command('Salon::Lumière::Intensité', 0);">0%</a></li>
                                        </ul>


                                        <button type="button" class="btn btn-labeled btn-success" onclick="jeedom_command('Salon::Lumière::On')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>On
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-1"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Lumière de la Cuisine</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center" id="lumiere_cuisine">
							        <img class="image" src="/static/img/domotic/Ampoule_OFF.png" alt="">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-labeled btn-danger"
                                                onclick="jeedom_command('Cuisine::Lumière::Off')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>Off
                                        </button>

                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="value">%</span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 100);">100%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 90);">90%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 80);">80%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 70);">70%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 60);">60%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 50);">50%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 40);">40%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 30);">30%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 20);">20%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 10);">10%</a></li>
                                            <li><a href="javascript:jeedom_command('Cuisine::Lumière::Intensité', 0);">0%</a></li>
                                        </ul>


                                        <button type="button" class="btn btn-labeled btn-success"
                                                onclick="jeedom_command('Cuisine::Lumière::On')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>On
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-2"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Lumière de l'entrée</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center" id="lumiere_entree">
							        <img class="image" src="/static/img/domotic/Ampoule_OFF.png" alt="">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-labeled btn-danger"
                                                onclick="jeedom_command('Entrée::Lumière::Off')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>Off
                                        </button>

                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="value">%</span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 100);">100%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 90);">90%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 80);">80%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 70);">70%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 60);">60%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 50);">50%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 40);">40%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 30);">30%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 20);">20%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 10);">10%</a></li>
                                            <li><a href="javascript:jeedom_command('Entrée::Lumière::Intensité', 0);">0%</a></li>
                                        </ul>


                                        <button type="button" class="btn btn-labeled btn-success"
                                                onclick="jeedom_command('Entrée::Lumière::On')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>On
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-3"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Lumière de la Chambre</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center" id="lumiere_chambre">
							        <img class="image" src="/static/img/domotic/Ampoule_OFF.png" alt="">

                                    <div class="btn-group">
                                        <button type="button" class="btn btn-labeled btn-danger"
                                                onclick="jeedom_command('Chambre::Lumière::Off')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>Off
                                        </button>

                                        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                                            <span class="value">%</span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu">
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 100);">100%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 90);">90%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 80);">80%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 70);">70%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 60);">60%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 50);">50%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 40);">40%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 30);">30%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 20);">20%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 10);">10%</a></li>
                                            <li><a href="javascript:jeedom_command('Chambre::Lumière::Intensité', 0);">0%</a></li>
                                        </ul>


                                        <button type="button" class="btn btn-labeled btn-success"
                                                onclick="jeedom_command('Chambre::Lumière::On')">
                                            <span class="btn-label">
                                                <i class="glyphicon glyphicon-ok"></i>
                                            </span>On
                                        </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-4"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Consommation EDF</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <span id="conso_edf"></span>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-5"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Lumière du Canapé</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div id="canape_colorPicker">
                                        <a class="color"><div class="colorInner"></div></a>
                                        <div class="track"></div>
                                        <ul class="dropdown"><li></li></ul>
                                        <input type="hidden" class="colorInput"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-6"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Lumière de la Loggia</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div id="loggia_colorPicker">
                                        <a class="color"><div class="colorInner"></div></a>
                                        <div class="track"></div>
                                        <ul class="dropdown"><li></li></ul>
                                        <input type="hidden" class="colorInput"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>
            <article class="col-xs-12 col-sm-6 col-md-4 col-lg-3">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-purple"
                     id="wid-id-7"
                     data-widget-editbutton="false"
                     data-widget-fullscreenbutton="false"
                     data-widget-deletebutton="false">
                    <!-- widget options:
                        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                        data-widget-colorbutton="false"
                        data-widget-editbutton="false"
                        data-widget-togglebutton="false"
                        data-widget-deletebutton="false"
                        data-widget-fullscreenbutton="false"
                        data-widget-custombutton="false"
                        data-widget-collapsed="true"
                        data-widget-sortable="false"

                    -->
                    <header>
                        <h2><strong>Raccourcis</strong></h2>
                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->

                        <!-- widget content -->
                        <div class="widget-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <button type="button" class="btn btn-warning btn-lg btn-block" onclick="jeedom_command('Appartement::Raccourcis::Tout éteindre')">
                                        Eteindre toutes les lumières
                                    </button>
                                    <button type="button" class="btn btn-info btn-lg btn-block" onclick="jeedom_command('Appartement::Raccourcis::Eteindre multimedia')">
                                        Eteindre le système multimedia
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->
            </article>

        </div>
    </section>
{% endblock %}

{% block javascript_include %}
<script type="text/javascript" src="/static/js/libs/gauge.js"></script>
<script type="text/javascript" src="/static/js/libs/colorpicker.js"></script>

<script type="text/javascript">
function jeedom_command(command, value){
    if ( value === undefined) {
        emit_on_bus("request.jeedom.command", {"command": command});
    }
    else {
        emit_on_bus("request.jeedom.command", {"command": command, "value": value});
    }

}
</script>
{% endblock %}

{% block javascript_footer %}

socketio.on('info.jeedom.change', function(data) {
    console.log(data);

    if (data.data.command == "Salon::Lumière::Etat") {
        $("#lumiere_salon .value").text(data.data.value+"%");
        if (data.data.value == 0){
            $("#lumiere_salon .image").attr("src", "/static/img/domotic/Ampoule_OFF.png");
        }
        else {
            $("#lumiere_salon .image").attr("src", "/static/img/domotic/Ampoule_ON.png");
        }
    }

    if (data.data.command == "Cuisine::Lumière::Etat") {
        $("#lumiere_cuisine .value").text(data.data.value+"%");
        if (data.data.value == 0){
            $("#lumiere_cuisine .image").attr("src", "/static/img/domotic/Ampoule_OFF.png");
        }
        else {
            $("#lumiere_cuisine .image").attr("src", "/static/img/domotic/Ampoule_ON.png");
        }
    }

    if (data.data.command == "Entrée::Lumière::Etat") {
        $("#lumiere_entree .value").text(data.data.value+"%");
        if (data.data.value == 0){
            $("#lumiere_entree .image").attr("src", "/static/img/domotic/Ampoule_OFF.png");
        }
        else {
            $("#lumiere_entree .image").attr("src", "/static/img/domotic/Ampoule_ON.png");
        }
    }

    if (data.data.command == "Chambre::Lumière::Etat") {
        $("#lumiere_chambre .value").text(data.data.value+"%");
        if (data.data.value == 0){
            $("#lumiere_chambre .image").attr("src", "/static/img/domotic/Ampoule_OFF.png");
        }
        else {
            $("#lumiere_chambre .image").attr("src", "/static/img/domotic/Ampoule_ON.png");
        }
    }

    if (data.data.command == "Appartement::EDF::Consommation") {
        edf_conso.redraw(data.data.value);
    }

})

/////////////////////////////////////////////////////////////////////////////////

var config =
{
    size: 180,
    label: "W",
    min: 0,
    max: 4000,
    minorTicks: 5,
    majorTicks: 5
}

var range = config.max - config.min;
config.greenZones = [{ from: config.min , to: config.min + range*0.2 }];
config.yellowZones = [{ from: config.min + range*0.2, to: config.min + range*0.5 }];
config.redZones = [{ from: config.min + range*0.5, to: config.max }];

var edf_conso = new Gauge("conso_edf", config);
edf_conso.render();

/////////////////////////////////////////////////////////////////////////////////

var $box1 = $('#canape_colorPicker');
$box1.tinycolorpicker({
    backgroundUrl: "/static/img/colorpicker.png"
});
var canape_colorPicker = $box1.data("plugin_tinycolorpicker");
$box1.bind("change", function(color)     {
    console.log("New color: "+ canape_colorPicker.colorHex);
    emit_on_bus("request.jeedom.command", {"command": "Salon::Lumière Canapé::Couleur", "value": canape_colorPicker.colorHex});
    emit_on_bus("request.jeedom.command", {"command": "Salon::Lumière Canapé::On"});
});


var $box2 = $('#loggia_colorPicker');
$box2.tinycolorpicker({
    backgroundUrl: "/static/img/colorpicker.png"
});
var loggia_colorPicker = $box2.data("plugin_tinycolorpicker");
$box2.bind("change", function(color)     {
    console.log("New color: "+ loggia_colorPicker.colorHex);
    emit_on_bus("request.jeedom.command", {"command": "Loggia::Lumière::Couleur", "value": loggia_colorPicker.colorHex});
    emit_on_bus("request.jeedom.command", {"command": "Loggia::Lumière::On"});
});




/////////////////////////////////////////////////////////////////////////////////
setTimeout(function(){
    emit_on_bus("request.jeedom.command", {"command": "Salon::Lumière::Etat"});
}, 200);

setTimeout(function(){
    emit_on_bus("request.jeedom.command", {"command": "Cuisine::Lumière::Etat"});
}, 400);

setTimeout(function(){
    emit_on_bus("request.jeedom.command", {"command": "Entrée::Lumière::Etat"});
}, 600);

setTimeout(function(){
    emit_on_bus("request.jeedom.command", {"command": "Chambre::Lumière::Etat"});
}, 800);

setTimeout(function(){
    emit_on_bus("request.jeedom.command", {"command": "Appartement::EDF::Consommation"});
}, 1000);








{% endblock %}